<!DOCTYPE html>
<html>
<head>
	<title> CRM Tool Login</title>
</head>
<body>

    <h2>CRM Login</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red">{{message}}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <p>
            Username:
            <input type="text" name="username">
        </p>

        <p>
            Password:
            <input type="password" name="password">
        </p>
 
        <button type="submit">Login</button>
    </form>

</body>
</html>