{% extends 'mycrm/base.html' %}

{% block content %}
<h1>CRM Tool</h1>
<p>Welcome to our CRM tool<p>

<a href="{% url 'add_customer' %}">
    <button>Add Customer</button>
</a>


    <h2>Customer Dashboard</h2>

    <table border=""1" cleepadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
        
        <td>
            <a href="{% url 'delete_customer' customer.id %}">
                <button>Delete</button>
            </a>
        </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
